//Import Icon scss
@import "./assets/scss/icons.scss";

//import Light Theme
@import "./assets/scss/bootstrap.scss";
@import "./assets/scss/app.scss";

//Import Dark theme
// @import "./assets/scss/bootstrap-dark.scss";
// @import "./assets/scss/app-dark.scss";

// RTL mode
// @import "./assets/scss/bootstrap.scss";
// @import "./assets/scss/app-rtl.scss";

.accordian-bg-products {
  background-color: $gray-300;
}

.nav-link {
  cursor: pointer;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
  .pagination {
    .page-link {
      border-radius: 30px !important;
      margin: 0 3px;
      border: none;
      text-align: center;
      cursor: pointer;
    }
  }
}

.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
}
.dz-message {
  text-align: center;
  padding: 100px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.ReactModal__Overlay {
  z-index: 1001 !important;
}

.rangeslider__fill {
  background-color: $primary !important;
}

.react-bootstrap-table {
  padding-top: 0px !important;
}

.square-switch {
  .react-switch-bg {
    border-radius: 5px !important;
  }
}

input[type="range"] {
  -webkit-appearance: auto !important;
}

.chat-conversation-height {
  min-height: 500px;
}

.expand-cell {
  cursor: pointer !important;
}

.card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 1px solid rgba(241, 245, 247, 0.75) !important;
  border-radius: 0.25rem !important;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #505d69;
  text-align: left;
  background-color: #f1f5f7;
}

.table .thead-light th {
  color: #505d69;
  background-color: #f8f9fa;
  border-color: #eff2f7;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eff2f7 !important;
}

.float-right {
  float: right !important;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.94rem + 2px);
  padding: 0.47rem 1.75rem 0.47rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #505d69;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.custom-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.7875rem;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1 1;
}

//incoive table
.invoice-table th:last-child,
.invoice-table td:last-child {
  text-align: right;
}

.full-dropdown {
  width: 100%;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 100%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-soft-success {
  color: white;
  background-color: rgb(28, 187, 139);
}

.badge-soft-warning {
  color: white;
  background-color: rgb(252, 186, 44);
}

.th-inner {
  padding: 0.1rem 0.2rem;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table .table-bg {
  background-color: rgba(21, 31, 58, 0.877) !important;
  border-color: rgba(52, 59, 78, 0.877) !important;
}

.page-item .page-link {
  font-weight: bolder !important;
}

.table-pd {
  padding: 0.85rem 0.5rem !important;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #fbfbfb;
  color: #3d3d3d;
}
.table-striped {
  border-bottom-width: 0px;
}

.table > tbody {
  font-family: "Nunito",sans-serif !important;
  font-weight: 700;
  color: #16a772;
}

.table > thead {
  font-family: "Nunito",sans-serif !important;
  font-weight: bolder;
  color: #191a46;
  // text-transform: uppercase;
}

.table > :not(caption) > * > * {
  box-shadow: none !important;
  border-bottom-width: 0px;
}

.bg-table-blue {
  background-color: #16a772;
}

.pagination-item {
  font-family: "Nunito",sans-serif !important;
  font-weight: 700;
  color: #3f427c;
}
.pagination .active {
  font-family: "Nunito",sans-serif !important;
  font-weight: 700;
  background-color: #16a772 !important;
  color: white !important;
}

.bg-info-2 {
  background-color: rgb(74 163 255 / 65%) !important;
}
.bg-danger-2 {
  background-color: rgb(255 61 96 / 65%) !important;
}
.bg-view {
  background-color: rgb(179, 164, 238) !important;
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.dropdown-icon {
  border: 0.5px solid #16a772;
  color: #16a772;
}
.dropdown-icon:hover {
  border: 0.5px solid #16a772 !important;
  color: #16a772 !important;
}

.results {
  font-family: "Nunito",sans-serif !important;
  font-weight: 700;
  color: #494949;
}

.selected {
  color: white !important;
  i{
    color: white !important;
  }
}

.sidebar_styles{
  padding-left: 0px !important;
}
.sidebar_styles li{
  padding-top: 0px !important;
  margin-top: 8px !important;
}

@media screen and (max-width: 372px) {
  .nopadblock2{
    padding: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .nopadblock{
    padding: 0 !important;
  }
}